<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app_id }} wants to access your service account</title>
</head>
<body>
    <h3>If you authroize this service it will have access to:</h3>
    {% for scope in scopes %}
        <p>{{ scope }}</p>
    {% endfor %}
    <h3>If you authroize this service it will not have access to:</h3>
    {% for nscope in non_scopes %}
        <p>{{ nscope }}</p>
    {% endfor %}
    <form action="/confirmed " method="post" name="query">
        <input type="hidden" name="client_id" id="client_id" value="{{ client_id }}">
        <input type="hidden" name="user_code" id="user_code" value="{{ user_code }}">
        <input type="submit" value="Allow">
    </form>
</body>
</html>
